@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
$swatch_1: #222C41;
$swatch_1: #343F54;
$swatch_3: #FFFFFF;
$swatch_2: #6969DE;
$swatch_2: #F7C046;
$swatch_2: #E86566;
$swatch_2: #67C7B3;
$swatch_2: #8E9CAD;
*/

body {
  background: #222c41;
}
